/* line 6, ../sass/main.sass */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  min-height: 1000px;
}

/* line 12, ../sass/main.sass */
a {
  text-decoration: underline;
}

/* line 15, ../sass/main.sass */
h2 {
  font-size: 32px;
  color: black;
}
/* line 18, ../sass/main.sass */
h2 a {
  font-size: 11px;
  color: #006699;
}

/* line 22, ../sass/main.sass */
h3 {
  font-size: 16px;
  margin: 0;
}

/* line 27, ../sass/main.sass */
.header {
  padding-top: 25px;
  height: 75px;
}
/* line 31, ../sass/main.sass */
.header .logo img {
  margin-top: -13px;
}
/* line 33, ../sass/main.sass */
.header span {
  color: #222222;
  font-size: 10px;
  display: block;
  width: 130px;
  line-height: 130%;
}
/* line 40, ../sass/main.sass */
.header .call a {
  line-height: 130%;
  color: #006699;
  font-weight: bold;
  font-size: 13px;
  display: block;
  margin-bottom: 7px;
}
/* line 47, ../sass/main.sass */
.header .phones {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
}
/* line 51, ../sass/main.sass */
.header .social {
  background: #dff3ff;
  border-radius: 5px;
  padding: 6px 6px 6px 0;
  height: 24px;
}
/* line 56, ../sass/main.sass */
.header .social a {
  padding-left: 6px;
  float: left;
}

/* line 60, ../sass/main.sass */
.menu {
  list-style-type: none;
}
/* line 62, ../sass/main.sass */
.menu li {
  float: left;
}
/* line 64, ../sass/main.sass */
.menu.first {
  margin: 0;
}
/* line 66, ../sass/main.sass */
.menu.first a {
  color: #006699;
  font-weight: bold;
  font-size: 12px;
}
/* line 70, ../sass/main.sass */
.menu.langBar {
  float: right;
}
/* line 73, ../sass/main.sass */
.menu.langBar li a {
  color: black;
  font-size: 10px;
  text-decoration: underline;
  margin-left: 10px;
}
/* line 79, ../sass/main.sass */
.menu.langBar li.active a {
  color: #222222;
  text-decoration: none;
}

/* line 83, ../sass/main.sass */
.topMenu_wrapper {
  background: #0d81c8;
  background: linear-gradient(to bottom, #0d81c8 0%, #0a5fab 100%);
}

/* line 88, ../sass/main.sass */
.topMenu .span2 {
  margin-left: 0;
  padding-left: 10px;
}
/* line 91, ../sass/main.sass */
.topMenu a {
  padding: 13px 0;
  display: block;
  font-weight: bold;
  font-style: italic;
  color: #ccffff;
  width: 130px;
  height: 60px;
}
/* line 99, ../sass/main.sass */
.topMenu div:hover {
  background: #0691d9;
}

/* line 103, ../sass/main.sass */
.slider {
  height: 460px;
}

/* line 107, ../sass/main.sass */
.footer_wrapper {
  background: #1b1b1b;
}

/* line 110, ../sass/main.sass */
.footer {
  background: url(/img/bg_footer.png) no-repeat right top;
  color: #999999;
  font-size: 10px;
  padding-top: 16px;
  height: 70px;
}
/* line 117, ../sass/main.sass */
.footer a, .footer span {
  font-size: 13px;
  color: white;
}

/* line 123, ../sass/main.sass */
.iosSlider {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 960px;
  height: 460px;
}
/* line 130, ../sass/main.sass */
.iosSlider .prevButton, .iosSlider .nextButton {
  position: absolute;
  bottom: 0;
  width: 185px;
  height: 117px;
  z-index: 2;
}
/* line 136, ../sass/main.sass */
.iosSlider .prevButton {
  left: 0;
  background: url(/img/prev.jpg) no-repeat right 0;
}
/* line 139, ../sass/main.sass */
.iosSlider .nextButton {
  right: 0;
  background: url(/img/next.jpg) no-repeat left 0;
}
/* line 142, ../sass/main.sass */
.iosSlider .slider {
  width: 100%;
  height: 100%;
}
/* line 145, ../sass/main.sass */
.iosSlider .slider .item {
  position: relative;
  top: 0;
  left: 0;
  width: 960px;
  height: 460px;
  margin: 0;
}
/* line 152, ../sass/main.sass */
.iosSlider .slider .item .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
}
/* line 158, ../sass/main.sass */
.iosSlider .slider .item .image .bg {
  border: 10px solid black;
  border-right: 0;
  height: 180px;
  width: 340px;
  opacity: 0.5;
  display: none;
}
/* line 165, ../sass/main.sass */
.iosSlider .slider .item .text {
  background: rgba(0, 61, 143, 0.8);
  position: absolute;
  bottom: 0;
  right: 185px;
  width: 470px;
  height: 193px;
  padding: 30px 60px;
}

/* line 174, ../sass/main.sass */
.iphoneUI .iosSlider .slider .item .text {
  display: none;
}

/* line 177, ../sass/main.sass */
.iphoneUI .iosSlider .slider .item .text .bg {
  display: none;
}

/* line 180, ../sass/main.sass */
.iosSlider .slider .item .title {
  position: relative;
  top: 0;
  left: 0;
  text-indent: -1px;
}

/* line 186, ../sass/main.sass */
.iosSlider .slider .item .title span {
  color: white;
  font-size: 18px;
  font-style: italic;
  text-shadow: 0 -1px 1px black;
}

/* line 192, ../sass/main.sass */
.iosSlider .slider .item .desc {
  position: relative;
  top: 0;
  left: 0;
  margin: 10px 0 0 0;
}

/* line 198, ../sass/main.sass */
.iosSlider .slider .item .desc span {
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 150%;
}

/* line 205, ../sass/main.sass */
.iosSlider .slider .item .button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 0 10px 0 10px;
  margin: 10px 0 0 0;
  background: #aaaaaa;
  border: 1px solid black;
  cursor: pointer;
}

/* line 215, ../sass/main.sass */
.iosSlider .slider .item .button span {
  color: black;
  font: normal 14px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px white;
}
